body {
  font-family: "Source Sans Pro";
}

/*header section */

header {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-image: url("./images/Object.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 5% 2% 5%;  
  position: absolute;
  left: -0.025%;
  right: -0.025%;
  top: 0%;
  bottom: -26.48%;
}

header .nav{
  flex: 2;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;

}

header .logo{
  flex: 2;
  z-index: 1;
}



header .nav a{
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none;
  color: #FFFFFF;
}

/*BANNER SECTION*/
main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -8px;
}
#banner{
  left: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  margin-bottom: -2.6rem;
  background-blend-mode: color;
  background: radial-gradient(
    85.9% 85.9% at 50% 14.1%,
    rgba(41, 48, 61, 0.0001) 0%,
    #071629 100%
  );
  color: white;

}

.schooled {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
.schooled-title {
  height: 151px;
  font-weight: 700;
  font-size: 120px;
  line-height: 151px;
  text-align: center;
  color: #ffffff;
}


.register{
  background: #c271ff;
  border-radius: 25px;
  border: none;
  padding: 5rem;
  color: white;
  font-weight: 500;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  align-self: center;
  margin: 2rem;
  padding: 1rem;


}

.schooled-text {
  height: 20px;
  position: relative;
  margin-top: -7%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-left: 38%;
  margin-right: 38%;
  padding-top: 2rem ;
}


/*pros-section*/
.pros{
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.pros-title{
  position: relative;
  align-self: center;
  padding: 2rem;
  font-weight: 300;
  line-height: 40px;
}
    

.secondary-color{
    color: #c271ff;
}

.pros-title .secondary-color{
    font-weight: 700;
}

.pros-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pros-card{
  width: 19%;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pros img{
  border-radius: 50%;
  max-width: 80%;
}

.pros-card h3 {
  font-weight: 900;
  font-size: 18px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
}
.pros-card p {
  font-style: italic;
  text-align: center;
  font-size: 16px;
}

/*quote section*/
#quote{
  background-color: #c271ff;
  padding: 6%;
}

.quote-block{
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 9%;
  padding-right: 9%;
  align-items: flex-start;

}

.quote-block blockquote{
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;

}

.quote img{
  width: 160px;
  height: 160px;
  margin-right: 3rem;

}


.quote-block .name{
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 0;
}

.quote-block .weather{
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-top: 0;
}


/*video section*/
#video{
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#video h1,
#membership h1,
#FAQ h1 {
    text-align: center;
}

#video h1{
  font-weight: 300;
  font-size: 32px;
  line-height: 10px;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

#FAQ h1{
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
}

.videos-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.video-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 15%;
}

.video-card h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.video-card .video-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(7, 22, 41, 0.501584);
}

.video-card .play {
  position: relative;
  top: -23%;
  left: 33%;
}

.video-card .author {
  display: flex;
  align-items: center;
}
.author img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.author h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #c271ff;
  margin-left: 1rem;
}

.rating-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.duration {
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  text-align: right;
  color: #c271ff;
  
}
    
/*membership section*/
#membership{
  color: white;
  background: #071629;
  padding: 2rem;
}

#membership .secondary-color,
#video .secondary-color {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

#membership h1{
  font-weight: 300;
  font-size: 32px;
  line-height: 10px;
  text-align: center;
  padding-bottom: 2rem;
} 



#membership button{
  left: 42%;
}
.memberships {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5rem;
  padding-right: 5rem;
}
.membership-card {
  display: flex;
  flex-direction: column;
  max-width: 12%;
  align-items: center;
  text-align: center;

}

.membership-card p{
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  line-height: 26px;

}
.membership-card h2 {
  margin-bottom: 0.1rem;
}

/*faq section*/
.faq-list {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}
.faq-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 50%;
  padding: 5%;
}

.faq-item p{
  color:rgba(7, 22, 41, 0.5016);
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
}

/*footer*/
footer{
  padding: 1rem;
  margin: -8px;
  background-color: #071629;
}

header .logo{
  flex: 2;
  z-index: 1;
}

.footer-container{
  display: flex;
  flex-direction: column;   
}

.nav-footer{
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem 4rem 8rem;  
}

.nav-footer div a{
  margin-left: 0.4rem;
  margin-right: 0.5rem;    
}

.footer-container p{
  color: white;
  opacity: 0.35;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-top: 100px;
   
}

